.text-bg-primary.p-3 Primary with contrasting color
.text-bg-secondary.p-3 Secondary with contrasting color
.text-bg-tertiary.p-3 Tertiary with contrasting color
.text-bg-light.p-3 Light with contrasting color
.text-bg-dark.p-3 Dark with contrasting color
.text-bg-success.p-3 Success with contrasting color
.text-bg-danger.p-3 Danger with contrasting color
.text-bg-warning.p-3 Warning with contrasting color
.text-bg-info.p-3 Info with contrasting color
.text-bg-gray.p-3 Gray with contrasting color
.text-bg-lightgray.p-3 Light Gray with contrasting color
