include ./nav.pug
include ./copyright-footer.pug

doctype html
html(lang="en")
head
  title Connor Beheydt
  script(src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
  link(href="/assets/icons/favicon.ico" rel="icon" type="image/x-icon")
  link(href='/css/styles.css' rel='stylesheet')
  link(href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet")
  
+nav('/portfolio.html')

body
  .container
    | !{postHtml}
  +copyright-footer
