include ../nav.pug

doctype html
head
  link(href='/css/styles.css' rel='stylesheet')

+nav('/')
body.bg-dark
  .hero.g-0.bg-light.py-5
    .row.align-items-start.p-2
      .col
        img.rounded-circle.mx-auto.d-block.border(src="/assets/images/profile-pic-md.png" alt="profile image" loading="lazy")
      .col.align-self-center
        .card.w-50.bg-lightgray
          .card-body
            h2.card-title Hei, I'm Connor
            p.lead.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&rsquo;s content.
            a.btn.btn-primary.text-light(href='/contact-me.html') Contact Me
  .container
    .row.align-items-center.p-2
      .col.p-4
        .card.bg-lightgray
          .card-body.m-2
            h2.card-title Experience
            p.lead.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&rsquo;s content.
            .ul
              .li.pb-2
                a.btn.btn-primary.text-light(href='/work-experience.html') See Experience
              .li.pb-2
                a.btn.btn-primary.text-light(href='#') Download Resume
      .col.p-4
        .card.bg-lightgray
          .card-body.m-2
            h2.card-title Portfolio
            p.lead.card-text
              | Some quick example text to build on the card title and make up the bulk of the card&rsquo;s content.
            a.btn.btn-primary.text-light(href='/portfolio.html') See Portfolio
      h1 Some more text
      p Some more text perhaps? Could be huge.
