include ../nav.pug

doctype html
head
  link(href='/css/styles.css' rel='stylesheet')

+nav('/portfolio.html')

include ../colors.pug

body.bg-dark
  .container
    h1 Portfolio
    p Should include some little things I've worked on in the past - most likely Micro-G next, clubs, electronics workshops, and hackathons
