include ../nav.pug
include ../experience-card.pug

doctype html
head
  link(href='/css/styles.css' rel='stylesheet')

+nav('/work-experience.html')

body.bg-dark
  .container
    h1 Experience
    .row.align-items-start.p-5.mb-5.mx-5.bg-secondary.rounded-2
      .col 
        img.rounded-1.mx-auto.d-block.border(src="/assets/images/profile-pic-sm.png" alt="profile image" loading="lazy")
      .col.text-light.fs-3
        p Finishing up my master's degree. 
        a.btn.btn-primary.text-light(href='#') Download Resume
    .row.align-items-start.p-2
      .col.border
        i.bi.bi-briefcase.pe-1 
        | Assistant Researcher
      .col.border
        i.bi.bi-house 
        | Tampere, Finland
      .col.border
        i.bi.bi-envelope 
        | connorbeheydt@gmail.com

    h2 Work Experience
    +work-card(
      "Research Assistant", 
      "Dec 2023", 
      "Present", 
      "Some quick example text to build on the card title and make up the bulk of the card's content.",
      "Write and maintain project codebase, timeseries database, and IoT devices",
      "Edge computing, IoT, smart meter protocols (IEC61850, DLMS-COSEM), power quality standards (IEC50160, IEC517)",
      "Raspberry Pi, Docker, InfluxDB, Grafana, Linux, Python"
      )
    +work-card(
      "Systems Engineer",
      "May 2022",
      "June 2023",
      "Rockwell and Siemens graphic interfaces and PLC programming",
      "On-site experience in several industrial plants",
      "Full project cycle experience"
    )
    +work-card(
      "Tutor Manager, part time",
      "May 2021",
      "May 2022",
      "Schedule tutors in multiple residence hall locations",
      "Direct Communication with and management of multiple active staff members",
      "Organization and presentation of instruction materials"
    )
    +work-card(
      "Teacher Assistant, part time",
      "May 2021",
      "August 2021",
      "Designed assignments and organized content for graduate courses",
      "Novel feedback control systems, MATLAB programming, LaTEX"
    )
    
    h2 Education
    +education-card(
      "Masters of Engineering in Smart Grids, Tampere University",
      "2023",
      "Present",
      "Master degree with focus on making power grids more reslient, self-healing, and renewable",
      "Stuff"
    )
    +education-card(
      "Bachelor of Science in Engineering Physics and Applied Mathematics, The Ohio State University",
      "2018",
      "2022",
      "Double major in engineering physics and applied mathematics",
      "Control systems, digital logic, analog systems and circuits, microcontrollers",
      "Complex analysis, scientific computing, tensor calculus",
      "Intermediate mechanics, electricity and magnetism, quantum mechanics",
      "Software and comoponents, C++, Python, Java"
    )
    +education-card(
      "Undergraduate Research",
      "2022",
      "2023",
      "Research into resonant tunneling diodes",
      "Si-based Resonant Interband Tunneling Diodes",
      "Silvaco semiconductor simulation software",
      "Independent self-study on semiconductor physics"
    )
//-    h2 Skills 
//-    p
//-      ul
//-        li Electrical Engineering
//-        li Linux & Programming
//-        li Technical Communication
//-        li Microsoft Office
//-      ul
//-        li English
//-        li Learning Finnish
